asn1crypto==0.24.0
awscli==1.16.155
awsebcli==3.15.3
boto3==1.9.199
botocore==1.12.145
cement==2.8.2
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.3.9
cryptography==2.7
Django==2.2.4
django-storages==1.7.1
django-tinymce==2.8.0
django-tinymce4-lite==1.7.5
docutils==0.14
future==0.16.0
idna==2.7
jmespath==0.9.4
jsmin==2.2.2
pathspec==0.5.9
pyad==0.6.0
pyasn1==0.4.5
pycparser==2.19
pyOpenSSL==19.0.0
pypiwin32==223
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.2
pywin32==224
PyYAML==3.13
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
win-inet-pton==1.1.0
wincertstore==0.2
