<!doctype html>
{% extends 'header.html' %}

{% block content %}
<html lang="en">
  <head>
  </head>
  <body>
    <div class="container" style="color:white;">
        <br><br>
        {% for blog in blogs %}
        <p> {{blog.blog_published}} </p>
        <p> {{blog.blog_title}} </p>
        <p> {{blog.blog_content|safe}} </p>

        <br><br>
        {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>

{% endblock %}
