{% block title %}
{% endblock %}

{% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300" rel="stylesheet">

      <style>

        .container-fluid.footer {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background: rgba(150, 0, 100, 0.4);
            font-family: 'Rubik', sans-serif;
            display: table;
        }

        .btn {
            border: none;
            padding: 11px 85px;
            font-size: 30px;
            font-family: 'Rubik', sans-serif;
        }

        .btn:hover {
            background: rgba(200, 0, 100, 0.4);
            color: white;
        }

        .footer.btn.btn-outline-light {
            border: none;
            font-family: 'Rubik', sans-serif;
            position:relative;
            padding:10px 30px;
            margin:0 20px;
            text-align:center;
            font-size:15px;
            left:40px;
            float:left;
        }

        .footer.btn.btn-outline-light:hover {
            background: rgba(200, 0, 100, 0.4);
            color: white;
        }

        footer {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            font-family: 'Rubik', sans-serif;
            display: table-row;
            height: 1px;
            color: white;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
          margin-left: auto;
          margin-right: auto;
          width: 600px;
          /*whatever width you want*/
        }

        footer { height: 100%; }

        .container { overflow: hidden; }

      </style>

<body>
    <div class="container-fluid footer">
        <footer>
            {% load static %}
            <div class="middle">
                <div class="inner">
                    <a href="https://github.com/jaygentallan" target="_blank">
                        <button type="button" class="footer btn btn-outline-light">
                            <img src="{% static 'images/github.png' %}" style="width:30px;height:30px;">
                            Github
                        </button>
                    </a>
                    <a href="https://www.linkedin.com/in/jay-ivan-gentallan-846729163/" target="_blank">
                        <button type="button" class="footer btn btn-outline-light">
                            <img src="{% static 'images/linked_in.png' %}" style="width:30px;height:30px;">
                            Linkedin
                        </button>
                    </a>
                    <a href="https://www.instagram.com/jay.pg/" target="_blank">
                        <button type="button" class="footer btn btn-outline-light">
                            <img src="{% static 'images/instagram.png' %}" style="width:30px;height:30px;">
                            Instagram
                        </button>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
